<html>
    <body>
        <h4>Bukti Bayar</h4>
        <table>
            <tbody>
                <tr>
                    <td>No. Transaksi</td>
                    <td>:</td>
                    <td><span th:text="${vm.noTransaksi}">321312312</span></td>
                </tr>
                <tr>
                    <td>No. Booking</td>
                    <td>:</td>
                    <td><span th:text="${vm.booking.noBooking}">321312312</span></td>
                </tr>
                <tr>
                    <td>Tanggal</td>
                    <td>:</td>
                    <td><span th:text="${vm.booking.tglSewa}">321312312</span></td>
                </tr>
<!--                <tr>
                    <td>No. Booking</td>
                    <td>:</td>
                    <td><span th:text="${vm.noBooking}">321312312</span></td>
                </tr>
                <tr>
                    <td>No. Booking</td>
                    <td>:</td>
                    <td><span th:text="${vm.noBooking}">321312312</span></td>
                </tr>
                <tr>
                    <td>No. Booking</td>
                    <td>:</td>
                    <td><span th:text="${vm.noBooking}">321312312</span></td>
                </tr>
                <tr>
                    <td>No. Booking</td>
                    <td>:</td>
                    <td><span th:text="${vm.noBooking}">321312312</span></td>
                </tr>
                <tr>
                    <td>No. Booking</td>
                    <td>:</td>
                    <td><span th:text="${vm.noBooking}">321312312</span></td>
                </tr>
                <tr>
                    <td>No. Booking</td>
                    <td>:</td>
                    <td><span th:text="${vm.noBooking}">321312312</span></td>
                </tr>-->
            </tbody>
        </table>
    </body>
</html>
