<!DOCTYPE html>
<html>
    <body>
        <h3>Member</h3>
        <div>
            <table>
                <tbody>
                    <tr>
                        <td>Kode</td><td><span th:text="${kode}">MEM-01</span></td>
                    </tr>
                    <tr>
                        <td>Nama</td><td><span th:text="${nama}">Andi Paranoy</span></td>
                    </tr>
                    <tr>
                        <td>Tgl. Daftar</td><td><span th:text="${tglDaftar}">1970-01-01</span></td>
                    </tr>
                    <tr>
                        <td>Tgl. Habis</td><td><span th:text="${tglHabis}">1970-01-01</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
